body {
    font-family: 'Playfair Display', serif;
    background-color: #ffe4e1;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ffb6c1;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 3rem;
}

header nav a {
    margin: 0 15px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.batch-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
    padding: 20px;
    justify-items: center;
}

.batch-box {
    background-color: #fff0f5;
    border: 1px solid #ffb6c1;
    border-radius: 10px;
    padding: 25px;
    width: 300px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
}

.batch-box:hover {
    transform: translateY(-5px);
}

.batch-box h2 {
    font-size: 1.8rem;
    color: #ff69b4;
}

.batch-box p {
    font-size: 1.1rem;
    line-height: 1.8;
    font-weight: bold;
}

.decorative-line {
    border: none;
    height: 2px;
    background-color: #ffb6c1;
    margin: 40px auto;
    width: 80%;
    display: block;
}
.extra-info {
    max-width: 800px;
    margin: 2rem auto;
    text-align: center;
    padding: 1rem;
}

.extra-info h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.extra-info p {
    font-size: 1.1rem;
    font-weight: bold;
    line-height: 1.8;
}



footer {
    text-align: center;
    padding: 15px;
    background-color: #ffb6c1;
    color: white;
}
